<div *ngIf="isUserAuth" (click)="changePage()" class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="false"
     [matRippleDisabled]="false"
     [matRippleUnbounded]="false">
  {{ isUserInFavorites ? 'All Pokemons' : 'Favorites' }}
</div>
<div *ngIf="isUserAuth" (click)="logOut()" class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="false"
     [matRippleDisabled]="false"
     [matRippleUnbounded]="false">
  LogOut
</div>
<div *ngIf="!isUserAuth" (click)="logIn()" class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="false"
     [matRippleDisabled]="false"
     [matRippleUnbounded]="false">
  LogIn
</div>
<form *ngIf="!isUserInFavorites" class="example-form" [formGroup]="search">
  <mat-form-field class="search-width" appearance="fill">
    <mat-label>Pokemon</mat-label>
    <input (keyup)="submit()"
           type="text"
           formControlName="name"
           placeholder="Choose one"
           aria-label="Pokemon"
           matInput>
  </mat-form-field>
  <mat-form-field class="chip-list" appearance="fill">
    <mat-label>Pokemon Types</mat-label>
    <mat-chip-list #chipList aria-label="Types selection">
      <mat-chip class="{{ type }}"
        *ngFor="let type of types"
        (removed)="removeType(type)">
        {{type}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Choose type"
        #typesInput
        [formControl]="typeCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addType($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedType($event)">
      <mat-option *ngFor="let types of filteredTypes | async" [value]="types">
        {{ types }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedType($event)">
    <mat-option *ngFor="let types of filteredTypes | async" [value]="types">
      {{ types }}
    </mat-option>
  </mat-autocomplete>
</form>
<mat-paginator [length]="pokemonCount"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="setPageSizeOptions($event)"
               aria-label="Select page"></mat-paginator>
<div>
  <app-item-page *ngFor="let pokemon of pokemons" [pokemonName]="pokemon" (degreesPokemonCountEvent)="degreesPokemonCount()"></app-item-page>
  <div *ngIf="!pokemons">Ни одного покемона не найдено :(</div>
</div>
