.chips {
  width: 20px;
  height: 20px;

  border-radius: 10px;
  margin: 0 0 0 5px;

  color: white;

  background-color: grey;
}

mat-expansion-panel {
  width: 98vw;
  margin: 5px 0 5px 0;

  label.types {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;

    .chips {
      width: 60px;
      text-align: center;
      cursor: pointer;
    }

    .chips:hover {
      filter: contrast(120%);
    }
  }

  mat-expansion-panel-header {
    padding: 0 5px 0 5px;
  }

  mat-panel-description {
    align-items: center;
    justify-content: flex-end;
    margin: 0 7px 0 0;
  }

  mat-panel-title {
    display: flex;

    .img {
      margin: 4px 10vw 0 10vw;
      width: 35px;
      height: 35px;
      border-radius: 50%;

      background-position: center;
      background-size: 40px;
    }

    .name {
      margin: 10px 0 0 0;
      width: 80px;
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis !important;
    }
  }
}

label {
  input {
    display: none;
  }
}

svg {
  cursor: pointer;
  margin: -4px 10px 0 10px;
  fill: gold;
}

svg.check:hover {
  fill: #efc800;
}

.big-img {
  width: 150px;
  height: 150px;

  background-position: center;
  background-size: 150px;
}

.big-name {
  flex: auto;
  font-size: x-large;
  margin: 0 0 0 15px;
}
