<mat-expansion-panel *ngIf="!isHide">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="img" [style.background-image]="'url(' + pokemon.img + ')'"></div>
      <div class="name">{{ pokemon.name[0].toUpperCase() + pokemon.name.slice(1) }}</div>
    </mat-panel-title>
    <mat-panel-description>
      <svg *ngIf="pokemon.isFavorite" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
      <div *ngFor="let type of pokemon.types" class="chips {{ type }}"></div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <label class="types">
    <div *ngFor="let type of pokemon.types" class="chips {{ type }}">{{ type }}</div>
    <label>
      <input type="checkbox" (click)="setPokemonFavorite()" [checked]="pokemon.isFavorite">
      <svg *ngIf="pokemon.isFavorite" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
      <svg *ngIf="!pokemon.isFavorite" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"/></svg>
    </label>
  </label>
  <mat-list>
    <div *ngFor="let stat of pokemon.stats">
      <mat-list-item>{{ stat.name | uppercase }}: {{ stat.point }}</mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</mat-expansion-panel>
